<div>
    <div class="input-group">
        <button class="btn btn-primary" (click)="addImage()">Add Image</button>
    </div>
    <ul class="list-group">
        <li *ngFor="#image of images" class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <img [src]="image.url">
                </div>
                <div class="media-body">
                    {{image.description}}
                </div>
            </div>

        </li>
    </ul>
</div>

<image-editor-modal [(show)]="showModal" (onSubmit)="uploadNewImage($event)"></image-editor-modal>